*.git
*__pycache__*
4DGaussians/output
4DGaussians/docs
4DGaussians/assets
4DGaussians/submodules
lang-segment-anything/input
lang-segment-anything/output
lang-segment-anything/assets
Grounded-SAM-2/render
Grounded-SAM-2/assets
Grounded-SAM-2/demo
Grounded-SAM-2/demo_images
Grounded-SAM-2/checkpoints
Grounded-SAM-2/notebooks
Grounded-SAM-2/gdino_checkpoints
*.pt
*.pth
data
*.egg-info
*.mp4
ppt.pptx
old_videos

# Soft Links
Grounded-SAM-2/sam2/sam2_hiera_b+.yaml
Grounded-SAM-2/sam2/sam2_hiera_t.yaml
Grounded-SAM-2/sam2/sam2_hiera_l.yaml
Grounded-SAM-2/sam2/sam2_hiera_s.yaml